  <div class="block-callout-images callout-right">
  <h5><?php echo $this->__("Your account has been protected by");?></h5>
  <?php echo $this->getChildHtml("cms_verisign_callout"); ?> 
  <?php echo $this->getChildHtml("cms_geotrust_callout");?>
  </div>
