<?php $html = $this->getChildHtml(); ?>

<?php if ($html != ""){ ?>
<div class="slideshow-wrapper-bot">
	<div class="slideshow-wrapper-inner">
		<div id="slideshow-fot" class="slideshow">
			<div class="slideshow-box">
				<?php echo $html;?>
			</div>		
			<div class="title"><strong><span>Ils nous font confiance</span></strong></div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#slideshow-fot > div > ul').jcarousel({
    	wrap: 'circular',
		auto:1,
		buttonNextHTML:'<a class="next" href="javascript:void(0);">Next</a>',
		buttonPrevHTML:'<a class="previous" href="javascript:void(0);">Previous</a>',
		scroll:1,
		animation:'slow'
    });
});
</script>
<?php }?>

