<?php
        $storeId = Mage::app()->getStore()->getId();
	//$_productCollection=$this->getLoadedProductCollection();
	$products = Mage::getResourceModel('reports/product_collection')
            ->addAttributeToSelect('*')
           
            ->setStoreId($storeId)
            ->addStoreFilter($storeId)
            ->addViewsCount()
			->setPageSize(1);
			
			$_columnCount = $this->getColumnCount();
			
    $_helper = $this->helper('catalog/output');
   // $_collectionSize = $_productCollection->count();
   	$w = 110;
	$h = 74;
?>
<div class="most_popular_product">	
<div id="slideshow_mostpopular_list_menu" class="slideshow slideshow_mostpopular_list_menu">
<div class="slideshow-box">
		<ul class="products-list-most-popular-menu">
			<?php $i=0; foreach ($products as $_product): ?>     
					
             <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                
                <div class="actions">
                    <?php if ($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
				<?php $i++;?>
		
             <?php endforeach ?>
			 </ul>
     		</div>				
			<a href="javascript:void(0)" class="previous">Previous</a>
			<a href="javascript:void(0)" class="next">Next</a>				
		</div>
</div>

