<?php
    //print_r($this);exit;
    $_productCollection=$this->getLoadedProductCollection();
    //print_r($this->getToolbarHtml());exit;
 //print_r($_productCollection->getData());exit;
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();
   //echo $_columnCount;exit;
?>
<?php if(!$_productCollection->count()): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>


<?php
$confimg = new EM_MarrymeSettings_MarrymeSettings(); 
$w = $confimg->get_widget_width();
$h = $confimg->get_widget_height();
$bg = $confimg->get_widget_bgcolor();
?>

<div class="widget widget-new-products slideshow-wrapper">
    <div class="widget-products slideshow-wrapper-inner">
		<div id="slideshow-thisweek-product" class="slideshow">
			<div class="slideshow-box">
				<ul class="products-list">
				<?php $i=0; foreach ($_productCollection as $_product): ?>
					<li class="quickshop item<?php echo (++$i == count($_products))?' last':''; ?>">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image"><img style="background-color:<?php echo $bg; ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" width="<?php echo $w;?>" height="<?php echo $h;?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
						<div class="product-shop hover-quickshop" style="display:none">
							<div class="f-fix">
								<h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
								<a class="view-detail" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View detail') ?></a>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
				</ul>
			</div><!-- .slideshow-box -->
			<a href="#" class="previous">Previous</a>
			<a href="#" class="next">Next</a>
		</div><!-- #slideshow-new-product -->
    </div><!-- .widget-products -->
</div><!-- .widget-new-products -->
<script type="text/javascript">
jQuery(function($) {

	$('.hover-quickshop').hide();
	$('.quickshop a.product-image img').bind('mouseover', function(){
		showDetail($(this).parent().parent().children('.hover-quickshop'));
	}).bind('click', function(){
		showDetail($(this).parent().parent().children('.hover-quickshop'));
	}).bind('mouseout', function(){
		hideDetail($(this).parent().parent().children('.hover-quickshop'));
	});

	$('.hover-quickshop').bind('mouseover', function(){
		showDetail($(this));
	}).bind('click', function(){
		hideDetail($(this));
	}).bind('mouseout', function(){
		hideDetail($(this));
	});

	var timeout = null;
	function hideDetail(element) {
		if (timeout)
			clearTimeout(timeout);
		timeout = setTimeout(function() {
			timeout = null;
			element.slideUp();
		}, 100);
	}

	function showDetail(element) {
		if (timeout)
			clearTimeout(timeout);
		timeout = setTimeout(function() {
			timeout = null;
			element.slideDown();
		}, 100);
	}
}); 
</script>



<?php endif; ?>


