<div id="containerDiv" style="display:none">	
		<div class="ajaxcart">
			<img class='ajax_loading' id="ajax_loading" src='<?php echo $this->getSkinUrl('images/em_ajaxcart/loading.gif')?>' alt="" />
			<div id="ajaxcart_conent" style="display:none">
				<div class="ajaxcart_row1 row1" >					
					
				</div>				
			</div>
		</div>
	</div>
	
<div id="ajax_content" style="display:none">

</div>