<?php
    //print_r($this);exit;
    $_productCollection=$this->getProductCollection();
  
    $_helper = $this->helper('catalog/output');
    $_collectionSize = count($_productCollection);
	
    $_columnCount = $this->getColumnCount();
  
    
   $confimg = new Gala_PetaSettings_PetaSettings();	
	
	$grid_w 	= $confimg->get_grid_thumb_width();
	$grid_h 	= $confimg->get_grid_thumb_height();
	$grid_bg 	= $confimg->get_grid_thumb_bgcolor();
   
  
?>
<?php if(!$_collectionSize): ?>

<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>

<div class="title"><span><?php echo $this->__("Best Sellers")?></span></div>

<div id="slideshow_best" class="category-products slideshow-best">
   <div  class="category-content slideshow-box">
   
    <?php // Grid Mode ?>
 
   
    <?php $i=0; foreach ($_productCollection as $_product): ?>
		<?php 
					$pId= $_product['entity_id'];
					$_product = Mage::getModel('catalog/product')->load($pId);
        ?>
  
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid jcarousel-skin-tango">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
				
                <a href="<?php echo $this->getUrl().$_product->getUrlPath() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($grid_w,$grid_h); ?>" width="<?php echo $grid_w?>" height="<?php echo $grid_h?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
               
				<h2 class="product-name"><a href="<?php echo $this->getUrl().$_product->getUrlPath() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
               
				<?php if($_product->getRatingSummary()): ?>
                <?php	 echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php endif; ?>
				
                <?php echo $this->getPriceHtml($_product, true) ?>
                <!--<div class="actions">
                    <?php /*if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <ul class="add-to-links">                       
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li> <a href="<?php echo $_compareUrl ?>" class="link-compare"><span><span><?php echo $this->__('Compare') ?></span></span></a></li>
                        <?php endif; */?>
                    </ul>
                </div>-->
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
        <?php endforeach ?>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
  
	</div>

	
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#slideshow_best > div > ul').jcarousel({
    	wrap: 'circular',
		auto:0,
		buttonNextHTML:'<a class="btn-np next" href="javascript:void(0);">Next</a>',
		buttonPrevHTML:'<a class="btn-np previous" href="javascript:void(0);">Previous</a>',
		scroll:1,
		animation:'slow'
    });
});
</script>
<?php endif; ?>
