<?php    
    $_productCollection=$this->getProductCollection();   
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();
	$w = 150;
	$h = 150;	
?>

<div class="bestseller_product">
<h3><?php echo $this->__('Bestseller Products Custom') ?></h3>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div id="slideshow_bestseller" class="slideshow bestseller_products">
<div class="slideshow-box">
		<ul class="products-list">
			<?php $i=0; foreach ($_productCollection as $_item): ?>     
            <li class="item">
					<?php 
					$pId= $_item['entity_id'];
					$_product = Mage::getModel('catalog/product')->load($pId);
					?>
			<div class="product-item"> 
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>" width="<?php echo $w ?>"  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>        
				<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<span class="product-manufacture"><?php //echo $_product->getId(); ?></span>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>					
							<a class="add-to-wishlist" href="<?php echo($this->helper('wishlist')->getAddUrl($_product))?> "> Add to Wishlist</a>					
                    <?php endif; ?>                   
                </div>
				</div>
            </li>
				<?php $i++;?>
             <?php endforeach ?>
			 </ul>
     		</div>				
			<a href="javascript:void(0)" class="previous">Previous</a>
			<a href="javascript:void(0)" class="next">Next</a>				
		</div>
<?php endif ?>
</div>
