<?php
/**
 * Morningtime LatestReviews extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Morningtime
 * @package    Morningtime_LatestReviews
 * @copyright  Copyright (c) 2009 Morningtime Internet, http://www.morningtime.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php 
$_items 			= $this->getReviewsCollection(); 
$listingType 		= Mage::getStoreConfig('latestreviews/products/listing_type');
$_size				= intval(Mage::getStoreConfig('latestreviews/general/num_displayed_reviews'));
$_productCollection	= $this->getLoadedProductCollection();
?>
<div class="block lastest_reviews ">
    <div class="block-title">
        <strong><span>Lastest Reviews</span></strong>
    </div>
	
    <div class="block-content">

<?php if(!count($_items)): ?>
<div class="note-msg">
    <?php echo $this->__('There are no products matching the selection.') ?>
</div>
<?php else: ?>
<div class="category-products">
<?php //echo $this->getToolbarHtml() ?>
<?php // Grid Mode ?>
<?php $_collectionSize = $_size; ?>
    <?php $_columnCount = 3; ?>
    <?php $i=0;$j=0; while ($_review = $_items->fetch()): ?>
	<?php if($j<3):?>
	
	<?php $_product = Mage::getModel('catalog/product')->load($_review['entity_pk_value']); ?>
        <?php if($i++%$_columnCount==0): ?>
        <ul class="products-grid">
         <?php endif; ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
				 
               
                <a href="<?php echo $this->getUrl().$_product->getUrlPath() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(69,69); ?>" width="69" height="69" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
				<div class="product-details">
				
                <h2 class="product-name"><a href="<?php echo $this->getUrl().$_product->getUrlPath() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
				<?php echo $this->getPriceHtml($_product, true) ?>
				<!--<p class="sku"><?php //echo $this->stripTags($_product->getSku()); ?></p>-->
				<?php 
					$storeId = Mage::app()->getStore()->getId();
					Mage::getModel('review/review')->getEntitySummary($_product, $storeId);
					?>
			<?php if ($_product->getRatingSummary()->getReviewsCount()): ?>
		
			<div class="ratings">
			<?php if ($_product->getRatingSummary()->getRatingSummary()):?>
			<div class="rating-box">
			<div class="rating" style="width:<?php echo $_product->getRatingSummary()->getRatingSummary() ?>%"></div>
			</div>
			<?php endif;?>
			
			</div>
		<?php endif; ?>
                <!--<p class="short-desc"><?php //echo $this->stripTags($_product->getShortDescription())?></p>-->
				</div>
            </li>
        <?php if($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif; ?>
		<?php $j++;endif; ?>
    <?php endwhile ?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
</div>
</div>
<?php //echo $this->getToolbarHtml() ?>
<?php endif; ?>

