#bg_fade {background-color:#000;left:0px;margin:0px;padding:0px;position:fixed;top:0px;visibility:hidden;width:100%;z-index:998;height:1000px}
#containerDiv {width: 350px;z-index: 999;display:none;left:40% !important; top:40% !important;position:fixed;}
#containerDiv .ajaxcart {position: relative;padding: 20px;text-align: center;border: 10px solid #EAE9E6;background-color: white;z-index: 99999;}
#containerDiv .ajaxcart .row2 {clear:left;min-height:28px; width:auto;}
#containerDiv .ajaxcart .row2 #closeLink{margin-right:5px;}
#containerDiv .ajaxcart #ajax_image img {float:left;margin-right:7px;}
#containerDiv .ajaxcart #ajax_image  { margin-bottom: 10px;overflow: hidden;text-align: left;}
#containerDiv .ajaxcart #ajax_image span {text-align:left;}
#containerDiv .ajaxcart .row2 a {float:left; width:auto!important; }
#containerDiv .ajaxcart .row2 a:hover {text-decoration: none!important;}
#containerDiv .ajaxcart .row2 a span { display:block;background:url(../../images/btn-checkout-cart-top.png) bottom right no-repeat;}
.product-essential {position:relative;}
