<?php 
$_tsHlp = Mage::helper('udprod');
$_htmlId = $this->getHtmlId() ? $this->getHtmlId() : '_' . uniqid();
$_element = $this->getElement()
?>
<div class="grid">
<table cellspacing="0" class="data" cellpadding="0" id="global_udprod_template_sku-grid">
    <col width="150">
    <col width="120">
    <col />
    <col width="170">
    <col />
    <thead>
        <tr class="headings">
            <th class="a-center"><?php echo $_tsHlp->__('Attribute Set') ?></th>
            <th class="a-center"><?php echo $_tsHlp->__('Default Template SKU') ?></th>
            <th class="a-center"><?php echo $_tsHlp->__('Default Configurable Attributes') ?></th>
            <th class="a-center"><?php echo $_tsHlp->__('Websites') ?></th>
            <th class="a-center"><?php echo $_tsHlp->__('Category') ?></th>
        </tr>
    </thead>
    <tbody id="global_udprod_template_sku-table">
        <?php $_globalTSC = $_element->getValue(); ?>
        <?php $i=0; foreach($this->getSetIds() as $sId=>$sName):
            if (false === strpos($sId, '-')) {
                $sId = $sId.'-'.$this->getTypeOfProduct();
            }
            list($_sId) = explode('-', $sId);
            $upwValue = $this->getCfgValue($_globalTSC, $sId, 'use_product_website');
            $upcValue = $this->getCfgValue($_globalTSC, $sId, 'use_product_category');
            $upwName = "{$_element->getName()}[$sId][use_product_website]";
            $upwNameId = preg_replace('/[^a-zA-Z0-9\$]/', '_', $upwName);
            $upcName = "{$_element->getName()}[$sId][use_product_category]";
            $upcNameId = preg_replace('/[^a-zA-Z0-9\$]/', '_', $upcName);
            $wName = "{$_element->getName()}[$sId][website][]";
            $wNameId = preg_replace('/[^a-zA-Z0-9\$]/', '_', $wName);
            $wcNameId = $wNameId.'_container';
            $ccName = "{$_element->getName()}[{$sId}][category]_container";
            $ccNameId = preg_replace('/[^a-zA-Z0-9\$]/', '_', $ccName);
            ?>
        <tr class="option-row">
            <td class="a-left"><?php echo $sName?></td>
            <td class="a-center"><input name="<?php echo $_element->getName()?>[<?php echo $sId?>][value]" class="input-text" type="text" value="<?php echo $this->getCfgValue($_globalTSC, $sId, 'value')?>"/></td>
            <td class="a-center">
                <?php
                    $cfgAttrValue = $this->getCfgValue($_globalTSC, $sId, 'cfg_attributes_def');
                    $cfgAttrName = "{$_element->getName()}[{$sId}][cfg_attributes_def]";
                    $cfgAttrBlock = Mage::app()->getLayout()->getBlockSingleton('udprod/adminhtml_systemConfigField_cfgAttributesSelector');
                    $cfgAttrBlock
                        ->setConfigurableAttributes($this->getConfigurableAttributes($sId))
                        ->setFieldName($cfgAttrName)
                        ->setFieldValue($cfgAttrValue);
                    echo $cfgAttrBlock->toHtml();
                ?>
            </td>
            <td class="a-left">
                <input type="checkbox" style="width: auto;" value="1" <?php if ($upwValue) echo 'checked="checked"'?> id="<?php echo $upwNameId?>" name="<?php echo $upwName?>" onclick="$('<?php echo $wcNameId?>').toggle()" /> <label for="<?php echo $upwNameId?>"><?php echo $_tsHlp->__('Use from template product') ?></label>
                <div id="<?php echo $wcNameId?>" class="tpl-sku-website" style="margin-top: 7px; <?php if ($upwValue) echo 'display: none'?>">
                <select id="<?php echo $wNameId?>" name="<?php echo $wName?>" style="width:170px" multiple="multiple">
                    <?php foreach (Mage::app()->getWebsites() as $website): ?>
                    <option value="<?php echo $website->getId()?>" <?php if (@in_array($website->getId(), (array)$this->getCfgValue($_globalTSC, $sId, 'website'))) echo 'selected="selected"'?>><?php echo $website->getName()?></option>
                    <?php endforeach ?>
                </select>
                </div>
            </td>
            <td class="a-left tplsku-tree-container">
                <input type="checkbox" value="1" <?php if ($upcValue) echo 'checked="checked"'?> id="<?php echo $upcNameId?>" name="<?php echo $upcName?>" onclick="$('<?php echo $ccNameId?>').toggle()" /> <label for="<?php echo $upcNameId?>"><?php echo $_tsHlp->__('Use from template product') ?></label>
                <div id="<?php echo $ccNameId?>" class="tpl-sku-category" style="margin-top: 7px; <?php if ($upcValue) echo 'display: none'?>">
                <?php
                    $catValue = $this->getCfgValue($_globalTSC, $sId, 'category');
                    Mage::helper('udropship/catalog')->processCategoriesData($catValue, false);
                    $catElId = $catElName = "{$_element->getName()}[{$sId}][category]";
                    $catElId = str_replace('[', '_', $catElId);
                    $catElId = str_replace(']', '_', $catElId);
                    $catBlock = Mage::app()->getLayout()->getBlockSingleton('udropship/categories');
                    $catBlock->setNameName($catElName)
                        ->setIdName($catElId)
                        ->setForcedIdsString($catValue)
                        ->setUseDeferToBootstrap(true);
                    echo $catBlock->toHtml();
                ?>
                </div>
            </td>
        </tr>
        <?php endforeach ?>
    </tbody>
</table>
</div>

<style type="text/css">
#global_udprod_template_sku-table input {width: 80px}
#global_udprod_template_sku-table .tplsku-tree-container input {width: auto}
</style>
