<?php
/**
 * LaPoste_SoColissimoSimplicite
 *
 * @category  LaPoste
 * @package   LaPoste_SoColissimoSimplicite
 * @copyright Copyright (c) 2010 La Poste
 * @author    Smile (http://www.smile.fr)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
/* @var $_helper LaPoste_SoColissimoSimplicite_Helper_Data */
$_helper = $this->helper('socolissimosimplicite');
?>
<form id="co-shipping-method-form" action="">
    <div id="checkout-shipping-method-load">
        <?php echo $this->getChildHtml('available') ?>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        // So Colissimo helper
        ShippingMethod.prototype.isSocolissimoSelected = function() {
            var rateCodeSoColissimoSimplicite = '<?php echo $_helper->getRateCode()?>';
            var methods = document.getElementsByName('shipping_method');

            for (var i=0; i<methods.length; i++) {
                if (methods[i].value == rateCodeSoColissimoSimplicite && methods[i].checked) {
                    return true;
                }
            }
        };

        // Update method save to redirect onSuccess to method which deals with colissimo choice
        ShippingMethod.prototype.saveWithColissimo = function() {
            if (document.getElementById('socolissimo-error') !== null) {
                // Skip IFrame if So Colissimo platform is unavailable
                return this.save();
            } else if (checkout.loadWaiting != false) {
                return;
            } else {
                if (this.validate()) {
                    checkout.setLoadWaiting('shipping-method');
                    var request = new Ajax.Request(
                        this.saveUrl,
                        {
                            method:'post',
                            onComplete: this.onCompleteSaveWithColissimo.bind(this), // preserves context when calling these methods
                            onSuccess: this.redirectToColissimo.bind(this),
                            onFailure: checkout.ajaxFailure.bind(checkout),
                            parameters: Form.serialize(this.form)
                        }
                    );
                }
            }
        };

        // Hacking standard onComplete when saving socollissimo
        ShippingMethod.prototype.onCompleteSaveWithColissimo = function() {
            if (!this.isSocolissimoSelected()) {
                this.onComplete();
            }
        };

        // Hack to allow checkout steps freezing
        ShippingMethod.prototype.freezSteps = function() {
            this.savedAllowedSteps = [];

            var steps = document.getElementById('checkoutSteps').children;
            for (var i=0; i<steps.length; i++) {
                if (steps[i].hasClassName('allow')) {
                    this.savedAllowedSteps[i] = true;
                    steps[i].removeClassName('allow');
                } else {
                    this.savedAllowedSteps[i] = false;
                }
            }
        };

        // Hack to allow checkout unfreeze after a call to freezSteps
        ShippingMethod.prototype.unfreezSteps = function() {
            if (typeof(this.savedAllowedSteps) !== 'undefined') {
                var steps = document.getElementById('checkoutSteps').children;
                for (var i=0; i<steps.length; i++) {
                    if (this.savedAllowedSteps[i] === true) {
                        steps[i].addClassName('allow');
                    }
                }
            }
        };

        // Check if So Colissimo is selected, then redirect on form which post data on this platform
        ShippingMethod.prototype.redirectToColissimo = function(transport) {
            var urlFormSoColissimoSimplicite  = '<?php echo $_helper->getFormUrl()?>';
            var methods = document.getElementsByName('shipping_method');

            if (this.isSocolissimoSelected()) {
                // Remove ending slash for IFrame src
                urlFormSoColissimoSimplicite = urlFormSoColissimoSimplicite.replace(/\/$/, '');

                var socoIFrameContainer = document.getElementById('socolissimosimplicite_iframe_wrapper');

                var socoIFrame = document.createElement('iframe');
                socoIFrame.id = 'socolissimosimplicite_iframe';
                socoIFrame.frameBorder = 0;
                socoIFrame.width = '572px';
                socoIFrame.height = '1100px';
                socoIFrame.setAttribute('src', urlFormSoColissimoSimplicite);

                // Append the IFrame to the wrapper
                socoIFrameContainer.appendChild(socoIFrame);

                // Disabling all methods during IFrame validation
                for (var j=0; j<methods.length; j++) {
                    methods[j].disabled = 'disabled';
                }

                // Disable checkout step changing
                this.freezSteps();

                document.getElementById('cancel_soco_shipping_button').style.display = 'block';
                checkout.setLoadWaiting('shipping-method');
            } else {
                // Go to next step (= default onSave binding)
                ShippingMethod.prototype.nextStep(transport);
            }
        };

        // Cancel So Cocolissimo IFrame and reenable disabled checkout feature
        ShippingMethod.prototype.cancelSocollisimo = function() {
            var methods = document.getElementsByName('shipping_method');
            for (var i=0; i<methods.length; i++) {
                methods[i].disabled = '';
            }

            var socoIframeContainer = document.getElementById('socolissimosimplicite_iframe_wrapper');
            while (socoIframeContainer.firstChild) {
                socoIframeContainer.removeChild(socoIframeContainer.firstChild);
            }

            this.resetLoadWaiting();
            document.getElementById('cancel_soco_shipping_button').style.display = 'none';
            this.unfreezSteps();
        };
    //]]>
    </script>
    <script type="text/javascript">
    //<![CDATA[
        var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('checkout/onepage/saveShippingMethod') ?>");
    //]]>
    </script>
    <div id="onepage-checkout-shipping-method-additional-load">
        <?php echo $this->getChildHtml('additional') ?>
    </div>
    <div class="buttons-set">
        <button id="cancel_soco_shipping_button" type="button" class="button" onclick="shippingMethod.cancelSocollisimo();" style="display:none;"><span><span><?php echo $this->__('Annuler So Colissimo') ?></span></span></button>
    </div>
    <div class="buttons-set" id="shipping-method-buttons-container">
        <p class="back-link"><a href="#" onclick="checkout.back();return false;"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="button" class="button" onclick="shippingMethod.saveWithColissimo();"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span id="shipping-method-please-wait" class="please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</form>
