/* classic slising doors example css as seen on http://www.alistapart.com/articles/slidingdoors/*/
   .tabs {padding: 0 20px}
	.tabs-product-view .tabs{padding: 0}
	.tabs-product-view  {position:relative;}
	.tabs ul.tabs-list .current, .tabs ul.tabs-list li:hover{ padding-right:0;
		background: url(../../images/accessibleTabs/bg-tab-view-active.png) top left no-repeat;
	}
	
	#slideshow-upsell .jcarousel-container {padding:0 10px;}
	
	.tabs ul.tabs-list .current a, .tabs ul.tabs-list li:hover a{padding-right:15px;
		background: url(../../images/accessibleTabs/bg-tab-view-active.png) bottom right no-repeat ;
		color: #000;font-weight:bold;
	}
	
	.tabs ul.tabs-list li,.tabs ul.tabs-list li a{line-height:29px; color:#525252; display:block; height:29px;}
	.tabs ul.tabs-list li{padding:0 15px;float:left;margin:0 20px 0 0;}
	
	
	.product-view #customer-reviews,
	.product-view .product-collateral .tabs-info {overflow: hidden;padding-bottom:10px; background:url(../../images/accessibleTabs/bg-tab-view-content.png) bottom left no-repeat}
	
	.col3-layout .product-view #customer-reviews,
	.col3-layout .product-view .product-collateral .tabs-info{background:url(../../images/accessibleTabs/bg-tab-view-content-col1.png) bottom left no-repeat}
	
	.product-view #customer-reviews .tabs,
	.product-view .product-collateral .tabs-info .tabs{background:url(../../images/accessibleTabs/bg-tab-view-top.png) top left no-repeat}
	
	.col3-layout .product-view #customer-reviews .tabs,
	.col3-layout .product-view .product-collateral .tabs-info .tabs {background:url(../../images/accessibleTabs/bg-tab-view-top-col1.png) top left no-repeat}
	
	.js .tabs .current-info,
    .js .tabs .accessibletabsanchor,
    .js .tabs .tabhead /*position each individual tab's heading (default class .tabhead) off-screen*/ {
        position:absolute;
        left:-999em;
    }
    .js .tabs .content{
        clear:both;
        margin:3em 1em 1em 1em;
    }
    .js .tabs{
        width:500px;
    }
    
	.tabs .content .tabhead {display:none;}
	.tabs .content .tabbody {clear:both;}
	
	.tabs .content{z-index:1;}
	
	.tabs ul.tabs-list {
		display: block;
		height: 29px;
		margin-bottom: 10px;
		position: relative;
		z-index: 2;
    }
