<?php
$_set = Mage::registry('emthemes_credits');
if (!$_set) Mage::register('emthemes_credits', 1);
?>

<?php if (!$_set): ?>
<p style="text-align:center;font-size:0.8em"><a style="color:inherit;text-decoration:none" href="http://www.emthemes.com/free-magento-extensions/em-media-widget.html">EM Media Magento widget</a> by EMThemes <a style="color:inherit;text-decoration:none" href="http://www.emthemes.com/">Magento Themes</a> &amp; <a style="color:inherit;text-decoration:none" href="http://www.emthemes.com/">Magento Templates</a></p>
<?php endif ?>