<dt class="kiala-method-header">
    <img class="kiala-logo" src="<?php echo $this->getSkinUrl('images/kiala/kiala-logo.jpg') ?>" alt="<?php echo Mage::getStoreConfig('carriers/kiala/title') ?>" />
    <span><?php echo $this->__('Ship with Kiala') ?> <span class="info"><?php echo $this->__('Kiala allows parcels to be delivered to close by shops with wide opening hours and no waiting lines.') ?></span></span>
    <a href="javascript:void(0);" onclick="showKialaWindow('<?php echo $this->getInformationUrl() ?>','iframe', '<?php echo $this->getWidth() ?>', '<?php echo $this->getHeight() ?>');"><img class="kiala-info-tooltip" src="<?php echo $this->getSkinUrl('images/kiala/info.png') ?>" alt="<?php echo $this->__('Info') ?>" /></a>
</dt>
<dd>
    <?php $_rate = $this->getRate() ?>
    <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php echo $this->getCheckedAttribute($_rate) ?> class="radio field-row"/>
    <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
        <strong>
            <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
            <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

            <?php echo $_excl; ?>
            <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
            <?php endif; ?>
        </strong>
    </label>
    <?php $_kialaPoints = $this->getKialaPoint(); ?>
    
    <?php if(is_array($_kialaPoints) && count($_kialaPoints))://Show preselection ?>
    <div id="loader" style="display:none;">
    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" alt="loader"/>
    </div>
    <div class="kialapoints <?php echo (count($_kialaPoints) == 1)?'single':'more' ?>" id="kialapoints">
        <?php foreach($_kialaPoints as $_kialaPoint): ?>
        <?php echo $this->getLayout() 
            ->createBlock('locateandselect/checkout_onepage_shipping_method_kiala_kialapoint')
            ->setCurrentKialapoint($_kialaPoint)
            ->setTemplate('kiala/locateandselect/checkout/onepage/shipping_method/kiala/kialapoint.phtml')
            ->toHtml() ?>
        <?php endforeach; ?>
        <?php if (Mage::helper('locateandselect')->kialaPointChosen()) : ?>
        <div class="change-kialapoint">
            <button type="button" class="button"
                onclick="<?php echo $this->getShowpopupFunction() ?>">
                <span><span><?php echo $this->__('Change') ?></span></span>
            </button>
        </div>
        <?php endif; ?>
    </div>
    <div class="kiala-validation">
        <div class="validate-kialapoint-wrapper">
            <input name="shipping_method_kiala_kialapoint" id="shipping_method_kiala_kialapoint" type="hidden" class="validate-kialapoint" value="<?php echo Mage::helper('locateandselect')->getKialaPointId() ?>" />
        </div>
        <div class="validate-kialalanguage-wrapper">
            <input name="shipping_method_kiala_kialalanguage" id="shipping_method_kiala_kialalanguage" type="hidden" class="validate-kialalanguage" value="<?php echo $this->getKialaLanguage() ?>" data-saveurl="<?php echo $this->getUrl('locateandselect/checkout/chooselanguage') ?>" />
        </div>
    </div>
    
    <?php else://Show map link ?>
        Button show map
    <?php endif; ?>
    
    <?php if (!Mage::helper('locateandselect')->kialaPointChosen()) : ?>
    <div class="select-kialapoint">
    <?php echo $this->getLayout()
            ->createBlock('locateandselect/checkout_onepage_shipping_method_kiala_map')
            ->setTemplate('kiala/locateandselect/checkout/onepage/shipping_method/kiala/map.phtml')
            ->toHtml() ?>
    </div>
    <?php endif; ?>
</dd>