<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    Mage_Paybox
 * @copyright  Copyright (c) 2008 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<script type="text/javascript">
    Event.observe('payment_paybox_system_pbx_typepaiement', 'change', function(){
        paymentType = $('<?php echo $this->getParentHtmlId() ?>').value;
        jsonObj = eval('('+'<?php echo $this->getJsonCartTypes() ?>'+')');
        option = '';
        if (cartTypes = jsonObj[paymentType]) {
            for (var i in cartTypes) {
                if (i == 'none') {
                    option = option+'<option value="">'+cartTypes[i]+'</option>';
                } else {
                    option = option+'<option value="'+i+'">'+cartTypes[i]+'</option>';
                }
            }
        } else {
            option = '<option value=""></option>';
        }
        $('<?php echo $this->getDependHtmlId() ?>').innerHTML = option;
    });
</script>